<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RonbunMatome.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RonbunMatome.Properties.Settings>
            <setting name="libraryJsonDirectory" serializeAs="String">
                <value>C:\Users\kyo\source\repos\RonbunMatome\RonbunMatome\bin\Debug\net6.0-windows\library.json</value>
            </setting>
            <setting name="libraryBibDirectory" serializeAs="String">
                <value>C:\Users\kyo\source\repos\RonbunMatome\RonbunMatome\bin\Debug\net6.0-windows\library.bib</value>
            </setting>
        </RonbunMatome.Properties.Settings>
    </userSettings>
</configuration>